In [17]:
import pandas as pd
from pandas import json_normalize
data_json = [
    {
        "id": 1,
        "name": "Fawad",
        "personal": {"age": 20, "city": "Lahore"},
        "department": {"name": "CS", "grade": "A"},
        "skills": ["Python", "Pandas", "ML"],
        "salary": 50000,
        "experience": 1,
        "joining": {"year": 2024, "status": "Active"},
        "projects": [{"title": "AI Chatbot", "duration": "3 months"}, {"title": "Data Cleaner", "duration": "1 month"}],
        "contact": {"email": "fawad@example.com", "phone": "111-222-333"}
    }]

df_flat = pd.json_normalize(data_json)
projects_flat = json_normalize(
    data_json,
    record_path='projects',
    meta=['id','name'],
    sep='.'
)
skills_flat = df_flat.explode('skills')[['id','name','skills']]
print(df_flat)
print(projects_flat)
print(skills_flat)

   id   name                skills  salary  experience  \
0   1  Fawad  [Python, Pandas, ML]   50000           1

                                            projects  personal.age  \
0  [{'title': 'AI Chatbot', 'duration': '3 months...            20

  personal.city department.name department.grade  joining.year joining.status  \
0        Lahore              CS                A          2024         Active

       contact.email contact.phone
0  fawad@example.com   111-222-333
          title  duration id   name
0    AI Chatbot  3 months  1  Fawad
1  Data Cleaner   1 month  1  Fawad
   id   name  skills
0   1  Fawad  Python
0   1  Fawad  Pandas
0   1  Fawad      ML