In [25]:
# Task 1: Read JSON from a String and Convert to DataFrame
# Create a JSON string containing employee records (keys: name, age, department).
# Use pd.read_json() with StringIO to load it into a DataFrame.
# Filter employees whose age is greater than 30.

import pandas as pd
# from io import StringIO 

data_json = [{'name ' : 'Fawad' , 'age' : 20 , 'department' : 'computer science'},{'name ' : 'Hamza' , 'age' : 22 , 'department' : 'cyber security'},
             {'name ' : 'Ali' , 'age' : 30 , 'department' : 'AI' , 'skills' : {'ai' , 'ds' ,'ml'}}]

df = pd.DataFrame(data_json)
print(df)

   name   age        department        skills
0  Fawad   20  computer science           NaN
1  Hamza   22    cyber security           NaN
2    Ali   30                AI  {ds, ml, ai}

In [27]:
df.fillna('0')

   name   age        department        skills
0  Fawad   20  computer science             0
1  Hamza   22    cyber security             0
2    Ali   30                AI  {ds, ml, ai}