In [ ]:
# Task 2: Work with Nested JSON
# Create a JSON file/string where one column contains nested dictionaries
# (e.g., {"address": {"city": "Lahore", "zip": 54000}}).
# Flatten it using pd.json_normalize().
# Select only the city and zip columns from the flattened DataFrame.

import pandas as pd
from io import StringIO

# 10x10 nested JSON data
data_json = [
    {
        "id": 1,
        "name": "Fawad",
        "personal": {"age": 20, "city": "Lahore"},
        "department": {"name": "CS", "grade": "A"},
        "skills": ["Python", "Pandas", "ML"],
        "salary": 50000,
        "experience": 1,
        "joining": {"year": 2024, "status": "Active"},
        "projects": [{"title": "AI Chatbot", "duration": "3 months"}, {"title": "Data Cleaner", "duration": "1 month"}],
        "contact": {"email": "fawad@example.com", "phone": "111-222-333"}
    },
    {
        "id": 2,
        "name": "Hamza",
        "personal": {"age": 22, "city": "Karachi"},
        "department": {"name": "Cyber Security", "grade": "B"},
        "skills": ["Python", "Networking"],
        "salary": 55000,
        "experience": 2,
        "joining": {"year": 2023, "status": "Active"},
        "projects": [{"title": "Firewall Setup", "duration": "2 months"}],
        "contact": {"email": "hamza@example.com", "phone": "222-333-444"}
    },
    {
        "id": 3,
        "name": "Ali",
        "personal": {"age": 25, "city": "Islamabad"},
        "department": {"name": "AI", "grade": "A"},
        "skills": ["Python", "Deep Learning", "NLP"],
        "salary": 60000,
        "experience": 3,
        "joining": {"year": 2022, "status": "Active"},
        "projects": [{"title": "Image Classifier", "duration": "4 months"}],
        "contact": {"email": "ali@example.com", "phone": "333-444-555"}
    },
    {
        "id": 4,
        "name": "Sara",
        "personal": {"age": 23, "city": "Rawalpindi"},
        "department": {"name": "Data Science", "grade": "A"},
        "skills": ["R", "Pandas", "SQL"],
        "salary": 58000,
        "experience": 2,
        "joining": {"year": 2024, "status": "Inactive"},
        "projects": [{"title": "Sales Dashboard", "duration": "2 months"}],
        "contact": {"email": "sara@example.com", "phone": "444-555-666"}
    },
    {
        "id": 5,
        "name": "Ayesha",
        "personal": {"age": 21, "city": "Peshawar"},
        "department": {"name": "Networking", "grade": "B"},
        "skills": ["Networking", "Linux"],
        "salary": 52000,
        "experience": 1,
        "joining": {"year": 2023, "status": "Active"},
        "projects": [{"title": "VPN Setup", "duration": "1 month"}],
        "contact": {"email": "ayesha@example.com", "phone": "555-666-777"}
    },
    {
        "id": 6,
        "name": "Bilal",
        "personal": {"age": 26, "city": "Multan"},
        "department": {"name": "Cloud", "grade": "A"},
        "skills": ["AWS", "Python", "Docker"],
        "salary": 62000,
        "experience": 4,
        "joining": {"year": 2021, "status": "Inactive"},
        "projects": [{"title": "Cloud Migration", "duration": "6 months"}],
        "contact": {"email": "bilal@example.com", "phone": "666-777-888"}
    },
    {
        "id": 7,
        "name": "Fatima",
        "personal": {"age": 24, "city": "Quetta"},
        "department": {"name": "Web Dev", "grade": "B"},
        "skills": ["HTML", "CSS", "JS"],
        "salary": 57000,
        "experience": 2,
        "joining": {"year": 2022, "status": "Active"},
        "projects": [{"title": "E-commerce Site", "duration": "3 months"}],
        "contact": {"email": "fatima@example.com", "phone": "777-888-999"}
    },
    {
        "id": 8,
        "name": "Ahmed",
        "personal": {"age": 27, "city": "Faisalabad"},
        "department": {"name": "Mobile Dev", "grade": "A"},
        "skills": ["Flutter", "Firebase"],
        "salary": 65000,
        "experience": 5,
        "joining": {"year": 2020, "status": "Inactive"},
        "projects": [{"title": "Food Delivery App", "duration": "5 months"}],
        "contact": {"email": "ahmed@example.com", "phone": "888-999-000"}
    },
    {
        "id": 9,
        "name": "Zain",
        "personal": {"age": 22, "city": "Hyderabad"},
        "department": {"name": "DevOps", "grade": "B"},
        "skills": ["CI/CD", "Docker"],
        "salary": 56000,
        "experience": 2,
        "joining": {"year": 2023, "status": "Active"},
        "projects": [{"title": "Pipeline Setup", "duration": "2 months"}],
        "contact": {"email": "zain@example.com", "phone": "999-000-111"}
    },
    {
        "id": 10,
        "name": "Hina",
        "personal": {"age": 23, "city": "Gujranwala"},
        "department": {"name": "UI/UX", "grade": "A"},
        "skills": ["Figma", "Photoshop"],
        "salary": 54000,
        "experience": 1,
        "joining": {"year": 2024, "status": "Active"},
        "projects": [{"title": "App Redesign", "duration": "2 months"}],
        "contact": {"email": "hina@example.com", "phone": "000-111-222"}
    }
]
import pandas as pd
from pandas import json_normalize

# Flatten main dicts
df_flat = json_normalize(data_json, sep='.')
df_flat
# # Flatten projects into separate rows
projects_df = json_normalize(
    data_json,
    record_path="projects",
    meta=["id", "name"],  # keep id and name from parent
    sep='.'
)
# # Flatten skills into separate rows
skills_df = df_flat.explode("skills")[["id", "name", "skills"]]
print("Flattened Main Table:\n", df_flat.head(), "\n")
print("Projects Expanded:\n", projects_df.head(), "\n")
print("Skills Expanded:\n", skills_df.head())

Flattened Main Table:
    id    name                        skills  salary  experience  \
0   1   Fawad          [Python, Pandas, ML]   50000           1
1   2   Hamza          [Python, Networking]   55000           2
2   3     Ali  [Python, Deep Learning, NLP]   60000           3
3   4    Sara              [R, Pandas, SQL]   58000           2
4   5  Ayesha           [Networking, Linux]   52000           1

                                            projects  personal.age  \
0  [{'title': 'AI Chatbot', 'duration': '3 months...            20
1  [{'title': 'Firewall Setup', 'duration': '2 mo...            22
2  [{'title': 'Image Classifier', 'duration': '4 ...            25
3  [{'title': 'Sales Dashboard', 'duration': '2 m...            23
4    [{'title': 'VPN Setup', 'duration': '1 month'}]            21

  personal.city department.name department.grade  joining.year joining.status  \
0        Lahore              CS                A          2024         Active
1       Karachi  Cyber Security                B          2023         Active
2     Islamabad              AI                A          2022         Active
3    Rawalpindi    Data Science                A          2024       Inactive
4      Peshawar      Networking                B          2023         Active

        contact.email contact.phone
0   fawad@example.com   111-222-333
1   hamza@example.com   222-333-444
2     ali@example.com   333-444-555
3    sara@example.com   444-555-666
4  ayesha@example.com   555-666-777

Projects Expanded:
               title  duration id   name
0        AI Chatbot  3 months  1  Fawad
1      Data Cleaner   1 month  1  Fawad
2    Firewall Setup  2 months  2  Hamza
3  Image Classifier  4 months  3    Ali
4   Sales Dashboard  2 months  4   Sara

Skills Expanded:
    id   name      skills
0   1  Fawad      Python
0   1  Fawad      Pandas
0   1  Fawad          ML
1   2  Hamza      Python
1   2  Hamza  Networking