###pickling data into file or Serilizing data

In [22]:
import pickle
import pandas as pd 

data = {"name": "Fawad", "age": 20, "skills": ["Python", "Pandas", "ML"]}
data = pd.DataFrame(data)
# Open a file in binary write mode
with open("data.pkl", "wb") as f:
    pickle.dump(data, f)  # Pickle the object into the file

###Unpickling data from file or deserilizing data

In [23]:
import pickle

# Open file in binary read mode
with open("data.pkl", "rb") as f:
    loaded_data = pickle.load(f)

loaded_data

    name  age  skills
0  Fawad   20  Python
1  Fawad   20  Pandas
2  Fawad   20      ML

In [27]:
data = {"name": "Fawad", "age": 20, "skills": ["Python", "Pandas", "ML"]}
data = pd.DataFrame([data])
data

    name  age                skills
0  Fawad   20  [Python, Pandas, ML]