In [4]:
import pandas as pd
from io import StringIO

data = """Country,Confirmed,Deaths
          A,100,10
          B,200,20
          C,300,30"""
          
csv_data = StringIO(data)
df = pd.read_csv(csv_data)
df

       Country  Confirmed  Deaths
0            A        100      10
1            B        200      20
2            C        300      30

In [14]:
import pandas as pd
from io import StringIO

data = "A,B,C,D\n1,2,3,4\n5,6,7,8"
csv_data= StringIO(data)
df = pd.read_csv(csv_data)
df = pd.DataFrame(df)
df

   A  B  C  D
0  1  2  3  4
1  5  6  7  8

In [15]:
csv_buffer = StringIO()
df.to_csv(csv_buffer , index=False)
csv_string = csv_buffer.getvalue()
csv_string

'A,B,C,D\r\n1,2,3,4\r\n5,6,7,8\r\n'