In [26]:
# Task 1: Read CSV Data from a Multi-line String
# Given a multi-line string containing CSV-formatted
# data, use StringIO to read it into a pandas DataFrame.
# Then display summary statistics (mean, median) for numerical columns.

import pandas as pd
from io import StringIO

data = """Name,Age,Address,CGPA,Contact\n
          Fawad,19,Mardan,3.05,3445755845\n
          Hamza,20,Bajour,3.08,3229596970\n
          Misbah,22,Swat,3.00,3322345894\n
          Abid,23,Kurram,3.50,3215566789\n"""
          
csv_buffer = StringIO(data)
df = pd.read_csv(csv_buffer)
df

               Name  Age Address  CGPA     Contact
0             Fawad   19  Mardan  3.05  3445755845
1             Hamza   20  Bajour  3.08  3229596970
2            Misbah   22    Swat  3.00  3322345894
3              Abid   23  Kurram  3.50  3215566789

In [27]:
col = ['CGPA']
description = df[col].describe()
description

           CGPA
count  4.000000
mean   3.157500
std    0.230705
min    3.000000
25%    3.037500
50%    3.065000
75%    3.185000
max    3.500000

In [28]:
specific_col = ['Name' , 'Address' , 'CGPA']
cols = df[specific_col]
cols

               Name Address  CGPA
0             Fawad  Mardan  3.05
1             Hamza  Bajour  3.08
2            Misbah    Swat  3.00
3              Abid  Kurram  3.50

In [29]:
rows = df.iloc[[0,1,3]]
print(rows)

              Name  Age Address  CGPA     Contact
0            Fawad   19  Mardan  3.05  3445755845
1            Hamza   20  Bajour  3.08  3229596970
3             Abid   23  Kurram  3.50  3215566789

In [30]:
df = df[df['Age']>20]
df

               Name  Age Address  CGPA     Contact
2            Misbah   22    Swat   3.0  3322345894
3              Abid   23  Kurram   3.5  3215566789